html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 112.5%;
    margin: 0;
    padding: 0;
}

/* violet part of the card */

.upperPart {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsl(0, 0%, 100%);
    padding: 1em 2em;
    border-radius: 0 0 20px 20px;
}

.result {
    text-align: center;
    color: hsl(241, 100%, 89%);
    margin-top: 0;
}

/* circle with points */

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 8em;
    height: 8em;
    border-radius: 50%;
    margin: 1em auto;
    text-align: center;
}

.points {
    font-size: 3em;
    font-weight: 800;
    margin: 0;
}

.of100 {
    margin: 0;
    color: hsl(241, 100%, 89%);
} 

/* violet part under the circle */

.great {
    text-align: center;
    margin: 0 0 0.5em 0;
    font-size: 1.25em;
    font-weight: 500;
}

.status {
    text-align: center;
    color: hsl(241, 100%, 89%);
    margin-top: 0;
}

/* white part of the card */

.lowerPart {
    padding: 1em 1.5em;
}

.summary {
    color: hsl(224, 30%, 27%);
    font-weight: 700;
    margin-top: 0;
}

.panel {
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em;
    margin: 1em auto;
    border-radius: 10px;
    text-align: center;
}

.heading {
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-weight: 700;
    margin: 0;
}

.heading p,
.gray {
    margin: 0;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.gray {
    display: flex;
    gap: 0.5em;
    color: hsl(224, 30%, 27%);
}

.reachedPoints {
    font-weight: 800;
    margin: 0;
}

.totalPoints {
    color: hsla(224, 30%, 27%, 0.5);
    font-weight: 700;
    margin: 0;
}

/* continue button */

.continue {
    display: block;
    background-color: hsl(224, 30%, 27%);
    padding: 1em 2em;
    margin: 1.5em auto;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.continue:hover,
.continue:focus {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

/* desktop version */

@media screen and (min-width: 1024px) {
    .card {
        display: flex;
        width: 640px;
        margin: 3em auto;
        border-radius: 20px;
        box-shadow: 2px 2px 10px hsl(241, 100%, 89%);
    }

    .upperPart,
    .lowerPart {
        flex: 1 1 50%;
    }

    .upperPart {
        border-radius: 20px;
    }

    .lowerPart {
        padding-bottom: 0;
    }

    .result {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    .circle {
        width: 10em;
        height: 10em;
        margin-bottom: 2em;
        margin-top: 2em;
    }
    
    .summary {
        margin-top: 1em;
    }

    .continue {
        margin: 2em auto;
    }
}

/* footer section */

.attribution { 
    font-size: 0.611em; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
